body {
    margin: 0;
}

.header {
    font-size: 50px;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
}

.tile {
    text-align: start;
    justify-self: start;
}

#titlePr {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

#subtitle {
    color: #FFF;
    margin: 0 5px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
}

.user {
    display: flex;
    margin: 0;
    padding: auto;
}

#userAb {
    margin: 0;
    background-color: #F7B608;
    border-radius: 30%;
    width: 60px;
    height: 40px;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
}


#userName {
    padding-left: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    align-self: center;
}

/* Style Data Container */

.dataContainer {
    background-color: #1C1C26;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
}

.headerTable {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #172234;
    margin: 0;
}


.headerContains {
    display: grid;
    grid-template-columns: 200px 140px 100px 160px 130px 28vw 0;
    margin: 0 40px 0 36px;
}

.data {
    display: flex;
    justify-content: space-between;
}

#list {
    display: inline;

}

.dataContainer li {
    display: inline;
    list-style: none;
    margin: 0 46px 0 0;
    text-align: start;
    font-size: 20px;
}

#ocurrences {
    margin: 60px;
    padding-left: 0;
}
.checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.actionsData{
    display: flex;
    margin: 10px;
    align-items: center;
    padding: 0;
}